extends layout

block content
  .d-flex.align-items-center.justify-content-center vh-100
    .text-center
      h1.display-1.fw-bold 404
      p.lead.fs-4.mb-5 ERROR - PAGE NOT FOUND
      p.text-muted.mb-5
        | The page you are looking for might have been removed, had its name changed or is temporarily unavailable.
      a.btn.btn-primary(href='/') Go Home